_build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.a
*.dylib
.DS_Store
TARGETS
*.cmake
certs/
node_modules/
package.json
package-lock.json
DartConfiguration.tcl

moqrelayserver
moqchatclient
moqchatserver
moqtextclient
moqdateserver
moqflvstreamerclient

.venv/
.pytest_cache/
__pycache__/
*.pyc
.coverage

moxygen/test/*Tests
moxygen/test/python/build/


